* {
    margin: 0%;
    padding: 0%;
}

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center; 
}

body {
    @include display();
    height: 100vh;
    position: relative;
}

main{
   @include display();
   flex-direction: column;
   gap: 20px;
}

#book-display{
    @include display();
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 50px;
    width: 400px;
    height: 300px; 
}

form {
    @include display();
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    box-shadow: 0px 0px 100px black;
    position: absolute;
    border-radius: 50px;
    background-color: white;
    width: 500px;
    height: 500px;
    z-index: 1;
    input[type="text"] {
        background-color: white;
    }
    input:invalid {
        background-color: rgb(253, 62, 62);
    }
    #title-error {
        display: none;
    }
    #author-error {
        display: none;
    }
    #pages-error {
        display: none;
    }
    span {
        color: red;
        font-size: 12px
    }
}

.book {
    @include display();
    flex-direction: row;
    gap: 10px;
}

.readBtn {
    background-color: red;
}
